*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/iosApp/Pods/
/androidApp/src/main/cpp/libs/*/*.so
/androidApp/src/main/cpp/libs/*/*.h
